{% load static %}
<DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}Мой сайт{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head> 
<body>
	<div id="wrapper">
		<div id="header"></div>
		<ul id="nav">
			<li><a href="{% url 'articles:index'%}" >Главная</a></li>
			<li><a href="{% url 'articles:leave_quest'%}" >Оставить новый вопрос</a></li>
			<li><a href="{% url 'articles:comments'%}" >Все ответы</a></li>
			<li><a href="{% url 'articles:answer_list'%}" >Все вопросы</a></li>
			<li><a href="{% url 'articles:menu'%}" >Меню</a></li>
			<li><a href="{% url 'articles:authors'%}" >Об авторах</a></li>
		</ul>
			<div id="content" class="clearfix">
	{% block content %}ss{% endblock %}
			</div>
	
	</div>	
</body>
</html>