{% extends 'base.html' %}

{% block title %}Форум взаимопомощи{% endblock %}
{% block content %}
    <div id="col_2">
	{%if latest_articles_list %}
		{% for a in latest_articles_list %}
			<div>
				<p id ="textstyle">
					<a href="{% url 'articles:detail' a.id %}" style="font-size:12"><font color="#FF6347" face="Arial">{{a.article_title}}</font></a><br>
					<a style="font-size:10;">{{a.article_author}}, {{a.pub_date}}, <a style="font-size:10;" href="{% url 'articles:detail' a.id %}"> оставить ответ ✏</a></a>
					<hr>
				</p>
			</div>
		{% endfor %}
	{% else %}
		Вопросы не найдены
	{% endif %}  
	</div>
</div>
{% endblock %}	