{% extends 'base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}
	<div id="col_2">
		<form action = "{% url 'articles:addart'%}" enctype="multipart/form-data" method ="POST">
			<br>
			{% csrf_token %}
			<input type = "text" required placeholder = "Ваше имя" name = "author"><br><br>
			<textarea name="title" required="" placeholder = "Название вопроса" id="" cols="82" rows="5"></textarea><br><br>
			<textarea name="text" required="" placeholder = "Текст вопроса" id="" cols="82" rows="10" ></textarea><br><br>
			<p><input type="file" name="photo" ></p>
			<button type="submit">Оставить новый вопрос</button>
		</form>
{% endblock %}
</div>
