{% extends 'base.html' %}

{% block title %}Все вопросы{% endblock %}

{% block content %}

	{%if articles %}
		
		{% for a in articles %}
		<p>
			<p>Название <a href="{% url 'articles:detail' a.id %}"><font color="#FF6347" face="Arial">{{a.article_title}}</font></a></p>
			<p>Автор <font color="#FF6347" face="Arial">{{a.article_author}}</font></p>
			<p>Дата <font color="#FF6347" face="Arial">{{a.pub_date}}</font></p>
			<hr>
		</p>
		{% endfor %}
		
	{% else %}
		Вопросы не найдены
	{% endif %}
{% endblock %}