{% extends 'base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}
	<div id="col_2">
		<h2>{{article.article_title}}</h2>
		<p align="center"><img src="{{article.article_photo.url }}"></p>
		<p>{{article.article_text}}</p>
		<p align="right" style="font-size:10">{{article.pub_date}}</p>
		<hr>
		{% if latest_comment_list %}
		{% for c in latest_comment_list%}
			<h2>{{c.author_name}}</h2>
			<p>
				<blockquote>{{c.comment_text}}</blockquote>
				<a style="float:right; font-size:8">{{c.comment_date}}</a>
			</p>
		{% endfor %}
		{% else %}
		{% endif %}
		</hr>

		<form action = "{% url 'articles:leave_comment' article.id %}" method ="POST">
		<hr>
		{% csrf_token %}
		<br>
		<input type = "text" required placeholder = "Ваше имя" name = "name"><br><br>
		<textarea name="text" required="" placeholder = "Текст комментария" id="" cols="82" rows="10"></textarea><br><br>
		<button type="submit">Оставить комментарий</button>
	</form>
{% endblock %}
</div>
