{% extends 'base.html' %}

{% block title %}Все ответы{% endblock %}

{% block content %}

	{%if comments %}
		
		{% for a in comments %}
		<p>
			<p>К статье <a href="{% url 'articles:detail' a.article.id %}"><font color="#FF6347" face="Arial">{{a.article}}</font></a></p>
			<p>Пользователь <font color="#FF6347" face="Arial">{{a.author_name}}</font></p>
			<p>Написал <font color="#93aa00" face="Arial">{{a.comment_text}}</font></p>
			<hr>
		</p>
		{% endfor %}
		
	{% else %}
		Комментарии не найдены
	{% endif %}
{% endblock %}