{% extends 'base.html' %}

{% block title %}Все ответы{% endblock %}

{% block content %}

		<ul id="subnav">
			<li><a href="{% url 'articles:index'%}" >Главная</a></li>
			<li><a href="{% url 'articles:leave_quest'%}" >Оставить новый вопрос</a></li>
			<li><a href="{% url 'articles:comments'%}" >Все ответы</a></li>
			<li><a href="{% url 'articles:answer_list'%}" >Все вопросы</a></li>
			<li><a href="{% url 'articles:menu'%}" >Меню</a></li>
			<li><a href="{% url 'articles:authors'%}" >Об авторах</a></li>
		</ul>

{% endblock %}